span {
    font-weight: 100;
}

p {
    margin-left: 56px;
    font-size: 1.17em;
}

button {
    margin-right: 20px;
}

.on {
    visibility: hidden;
}

#like {
    background-image: linear-gradient(#D5E3F7, #455C6C);
    color: #FFFFFF;
    border: none;
    width: 110px;
    height: 30px;
    border-radius: 5px;
}

#adopt {
    background-image: linear-gradient(#D0E3D0, #455C6C);
    color: #FFFFFF;
    border: none;
    width: 110px;
    height: 30px;
    border-radius: 5px;
}