button {
    margin: 10px 5px 10px 5px;
}

#details {
    background-image: linear-gradient(#D1DFF3, #4D6474);
    color: #FFFFFF;
    border: none;
    width: 60px;
    height: 22px;
    border-radius: 5px;
}

#edit {
    background-image: linear-gradient(#FAE2C9, #50636F);
    color: #FFFFFF;
    border: none;
    width: 60px;
    height: 22px;
    border-radius: 5px;
}

th, td {
    border: 1px black solid;
}

td {
    padding-left: 3px;
    padding-right: 4px;
}

table {
    border-collapse: collapse; 
}